
/*******************headShake and Y animation**********
***********************************************/
@keyframes headShake {


    0% {
        transform: translateX(0)
    }

    20% {
        transform: translateX(-6px) rotateY(-9deg)
    }

    40% {
        transform: translateX(5px) rotateY(7deg)
    }

    60% {
        transform: translateX(-3px) rotateY(-5deg)
    }

    90% {
        transform: translateX(2px) rotateY(3deg)
    }

    100% {
        transform: translateX(0)
    }
}

.headShake {
    animation: headShake 2s ease infinite;

}
